In [3]:

import re
import numpy as np
import pandas as pd
import seaborn as sns
from wordcloud import WordCloud
import matplotlib.pyplot as plt

from nltk.stem import WordNetLemmatizer
from sklearn.svm import LinearSVC
from sklearn.naive_bayes import BernoulliNB
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics import confusion_matrix, classification_report

In [4]:
DATASET_COLUMNS=['target','ids','date','flag','user','text']
DATASET_ENCODING = "ISO-8859-1"
df = pd.read_csv('./Project_Data.csv', encoding=DATASET_ENCODING, names=DATASET_COLUMNS)
df.sample(5)

,target,ids,date,flag,user,text
82273,0,1753002241,Sat May 09 23:45:24 PDT 2009,NO_QUERY,vchan,canucks lose. boo.. time to cheer myself up w...
866467,4,1677626119,Sat May 02 03:06:15 PDT 2009,NO_QUERY,Danielsmum1,@Kakabel Morning - hope you have a lovely week...
959865,4,1826178596,Sun May 17 07:52:53 PDT 2009,NO_QUERY,duff1957,rained on my parade yesterday but made the mos...
1198065,4,1985083424,Sun May 31 16:23:48 PDT 2009,NO_QUERY,ShelbiiiGeorge,Home! Watching OC with @maddie_kai! Church soo...
326850,0,2008681249,Tue Jun 02 14:29:49 PDT 2009,NO_QUERY,carolbolinha,Could you stop making me fall in love for you?

In [5]:
df.head()

,target,ids,date,flag,user,text
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t..."
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."